.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: auto;
}

.theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 1 auto;
}

.theme>div {
  margin-right: 0.5rem;
}

.palette {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1 1 auto;
}

.custom {
  display: flex;
  flex-direction: row;
}

.color {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  border: 1px var(--border-color) solid;
  margin-right: 2px;
  box-sizing: border-box;
  padding: 0px;
  border-radius: 3px;
}

.color:last-child {
  margin-right: 0;
}

.color:hover:not(.selected) {
  border: 2px var(--darker-border-color) solid;
}

.colorBox {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.selected {
  border: 2px #000 solid;
}

.hex {
  max-width: 70px;
  border: 2px var(--border-color) solid;
  margin-right: var(--spacing-s);
  margin-left: var(--spacing-s);
  padding: 10px;
}

.error {
  color: var(--alert-color);
}